fieldset {
    border: none;
    font-family: inherit;
    position: relative;
}

fieldset legend {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0;
}

.link {
    color: darkblue;
    font-size: 0.7rem;
    cursor: pointer;
    margin: 0 1rem;
}

.link:hover {
    opacity: 0.7;
}

.userForm {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.formGrid {
    display: grid;
    grid-template-columns: auto minmax(15rem, 1fr);
    align-items: center;
    gap: 1rem;
}

div.submitForm {
    align-self: flex-end;
}

.userForm input[type=password],input[type=email],input[type=text] {
    background-color: blue;
    color: white;
    border-radius: 0.5rem;
    font-size: 1rem;
    outline: none;
    border: 2px solid grey;
    padding: 0.5rem;
}

.userForm button {
    font-size: 1rem;
    font: inherit;
    background-color: darkblue;
    margin: 1rem 0;
    color: white;
    padding: 0.5rem;
    border-radius: 0.3rem;
    outline: none;
    border: 3px solid grey;
}