nav {
    height: fit-content;
    width: fit-content;
}

nav span {
    padding: 0.2rem 0rem;
    margin: 0 1rem;
    cursor: pointer;
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 0.1rem solid black;
    height: fit-content;
    width: fit-content;
    justify-self: flex-end;
}

nav span:hover {
    opacity: 0.7;
}